
<div *ngIf="!post"><p >loading</p></div>
<div *ngIf="post">
    
    <p>edit post : {{post.title}}</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <label for="title">title</label>
    <input name="title" [(ngModel)]="post.title" ngModel required #title="ngModel">
    <label *ngIf="title.invalid && title.touched">required</label>

    <label for="info">info</label>
    <textarea name="info" [(ngModel)]="post.info" ngModel required #info="ngModel"></textarea>
    <label *ngIf="info.invalid && info.touched">required</label>
    
    <button>update</button>
</form>

</div>


